<div class="row">
	  <div class="span6 offset3">
	  	<div class="well">
			<p>
			  <%= @precap.description %>
			</p>
			<p>
			  <%= @precap.user.name %>
			</p>
			<%= if current_user == @precap.user %>
				<%= link_to 'Edit', edit_precap_path(@precap) %> |
			<% end %>
			<%= link_to 'Back', precaps_path %>
			</div>
	</div>
</div>


